
// Grid system 12 columns by default
@mixin grid( $gap-size, $column-size ){
    display: grid;
    grid-template-columns: repeat(12 , $column-size);
    gap: $gap-size;
}

@mixin tablet-template {
    @include grid($gap-size : 0.625rem , $column-size : 3rem );
}

@mixin desktop-template {
    @include grid($gap-size : 1.875rem , $column-size : 4.06rem ); 
} 