// TITLES
@mixin title {
    color: #162542;
    text-transform: uppercase;
}
@mixin h1 {
    @include title;
    //font-size: 48px; 56px tablet + desktop size
    font-size: 48px;
	font-weight: 900;
	//line-height: 48px ; 56px tablet + desktop size
	line-height: 48px ;
}
@mixin h2 {
    @include title;
    font-size: 32px;
	font-weight: 900;
	line-height: 36px ;
}
@mixin h3 {
    @include title;
    font-size: 24px;
	font-weight: 900;
	line-height: 28px ;
}
// TEXT
@mixin text {
    color: #7B8BAD;
    font-size: 16px;
    line-height: 26px;
}

// BUTTON
@mixin button ($pad-top-bottom : 1rem, $pad-left-right : 1.6rem ) {
    //font-family: 'Barlow', sans-serif;
	display: inline-block;
	padding: $pad-top-bottom $pad-left-right;
	border-radius: 0.6rem;
	font-weight:600;
	font-size:16px;
	border: none;
	color: white;
	line-height:26px;
    text-transform: uppercase;
}

// BUTTONS
@mixin primary {
    background:#F16718;
    &:hover{
        background: #FF9B62;
    }
}
@mixin secondary {
    background: #E8EFF2;
	color: #162542;
    &:hover{
     background: #162542;
	 color: #ffffff;
    }
}

// ICON
@mixin icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F16718;
    border-radius: 16px;
    width: 65px;
    height: 65px;
    img{
        padding: 1.5rem;
        width: 100%;
        height: auto;
    }
}

// IMAGE
@mixin image-src {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}